:root {
  --primary_color: #010738;

  --secondary_color: #0b1736;
  --navy_blue_color: #09132d;
  --green_color: #08855f;
  --light_green_color: #0ec77a;
  --grey_text: #4b5563;
  --blue_color_new: #2d4ada;
  /* --blue_color_new: #0165fb; */
}

.account_page {
  background-color: var(--primary_color);
  min-height: 100vh;
}

.covera_onboard_logo {
  height: 100px;
  width: 100%;
  object-fit: cover;
  background-color: red;
}
